/ {
	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
	};
};

&usart1 {
	current-speed = <115200>;
};

&dma1 {
	status = "okay";
};

&dma2 {
	status = "okay";
};

zephyr_uhc0: &usbotg_fs {
	status = "okay";
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};